.custom-table .ant-table {
  border: 1px solid #666 !important; /* Lighter shade of black */
}

.custom-table .ant-table-thead > tr > th {
  border: 1px solid #666 !important; /* Lighter shade of black */
}

.custom-table .ant-table-tbody > tr > td {
  border: 1px solid #666 !important; /* Lighter shade of black */
}
